#忽略.idea文件夹及文件夹下文件
.idea 

#忽略以.iml结尾的文件
*.iml 

main/logs

main/logs_20epoch

main/logs_20epoch_V2
main/logs_40epoch_V3
main/logs_40epoch_V3080

main/snapshots

snapshots
train.log
train_V3.log
models/fe240.pkl
main/snapshots_5crop
main/logs_5crop


